{% extends 'base.html' %}
{% block title %}View/Edit {{pet.name}}{% endblock %}

{% block content%}
<h1 class="display-1 text-center">{{pet.name}}</h1>
<div class="row">
  <div class="col text-center">
    Species: {{pet.species}}
  </div>
  <div class="col">
    <img src="{{pet.photo_url}}" alt="{{pet.name}}" class="img-fluid">
  </div>
  <div class="col text-center">
    Age: {% if pet.age or pet.age == 0 %}{{pet.age}}{% else %}?{% endif %}
  </div>
</div>
<form method="POST">
  {{form.hidden_tag()}}
  {% for field in form 
    if field.widget.input_type != 'hidden'  %}
  <div class="form-group">
    {{field.label}}
    {{field(class_="form-control")}}
    {% for err in field.errors %}
    <small class="form-text text-danger">
      {{err}}
    </small>
    {% endfor %}
  </div>
  {% endfor %}
  <button class="btn btn-success btn-lg">Submit</button>
  <a href="/" class="btn btn-info btn-lg">Go back</a>
</form>
{% endblock %}